.bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/bg.jpg");
    background-size: cover; 
    background-position: center;
    filter: blur(4px);
    z-index: -1;
}

.bg_tetris{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/t_20250209-2.jpg");
    background-size: cover; 
    background-position: center;
    filter: blur(4px);
    z-index: -1;
}

.bg_selfIntro{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/bgintro.JPG");
    background-size: cover; 
    background-position: center;
    filter: blur(4px);
    z-index: -1;
}

.bg_gen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/bggen.jpg");
    background-size: cover; 
    background-position: center;
    filter: blur(4px) brightness(0.9);
    z-index: -1;
}

.bg_mod{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/bgmod.jpg");
    background-size: cover; 
    background-position: center;
    filter: blur(4px);
    z-index: -1;
}

.main{
    font-family: 'Ubuntu Mono', monospace;
    width: 800px;
    margin: 0 auto;
    background: rgba(225 225, 225, 0.9);
    padding: 0 20px 20px 20px;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 1px;
}

h1{
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
    font-size: 40px;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    color: #0e01c9;
}

h2{
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
    font-size: 20px;
    text-align: left;
    margin: 0;
    padding: 10px 0;
}

h3{
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
    font-size: 20px;
    text-align: left;
    margin: 0;
    padding: 10px 0;
}

li{
    font-weight: bold;
    line-height: 120%;
}

.indent_img{
    position: relative;
}

.outline{
    font-size: 30px;
    font-weight: bold;
    -webkit-text-stroke: 0.5px black;
}

.gold{
    color:gold;
}

.hidden {
    display: none;
}

.strong{
    color: red;
    font-size: 48;
}
